<div class="container">
  @for (budget of budgets(); track $index) {
  <div class="col-md-8 mx-auto">
    <div class="card m-3 p-5 rounded-5 shadow fw-bold">
      <div class="row align-items-center">
        <div class="col-sm-8 text-center text-sm-start">
          <h4>
            <b>{{ budget.contact.name }}</b>
          </h4>
          <p>{{ budget.contact.email }}</p>
          <p>{{ budget.contact.phone }}</p>
          <div>
            <p><b>Serveis contractats:</b></p>
            @if (budget.selection.web) {
            <p>
              Web ({{ budget.selection.numPages }} pàgines,
              {{ budget.selection.numLanguages }} llenguatges)
            </p>
            } @if (budget.selection.seo) {
            <p>SEO</p>
            } @if (budget.selection.ads) {
            <p>Ads</p>
            }
          </div>
        </div>
        <div class="col-sm-4 text-center">
          <h2>
            <b>{{ budget.total }}€</b>
          </h2>
        </div>
      </div>
    </div>
  </div>
  }
</div>
