.card {
  border-radius: 15px;
}

h5 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.card .text-end h4 {
  font-size: 1.5rem;
}

.btn-text-like {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: grey;
  }
}
