.welcome-container {
    background: url('/assets/images/vivid-blurred-colorful-background.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-size: cover;
    background-position: center;
}

